@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --primary-color: #4158D0;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

section {
    padding: 5em 2em;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1080px) {

}
